name: Publish the images

on:
  push:
    branches:
      - main
    paths:
      - 'python/Dockerfile_*'
  workflow_dispatch:
permissions:
  contents: write

env:
  REGISTRY_IMAGE_PREFIX: "quay.io/giskard/"
jobs:
  build:
    strategy:
      matrix:
        version: ["3.12", "3.13", "3.14"]
        platform: ['ubuntu-latest', 'runner-ubuntu24-arm64']
      fail-fast: false
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Docker Buildx
        id: builder
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Read Python patch version
        id: ver
        run: |
          pv=$(grep '^ENV PYTHON_VERSION ' ./python/Dockerfile_${{ matrix.version }} | awk '{print $3}')
          echo "python_patch=$pv" >> "$GITHUB_OUTPUT"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          images: |
            ${{ env.REGISTRY_IMAGE_PREFIX }}python
          flavor: |
            latest=false
          tags: |
            type=raw,enable=true,value=${{ matrix.version }}-${{ matrix.platform }}
            type=raw,enable=true,value=${{ steps.ver.outputs.python_patch }}-${{ matrix.platform }}

      - name: Login to Docker registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}

      - name: Push
        id: push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          context: ./python
          file: ./python/Dockerfile_${{ matrix.version }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          builder: ${{ steps.builder.outputs.name }}
          push: true

          # For details, see link below
      # https://docs.docker.com/build/ci/github-actions/multi-platform/
      - name: Export digest
        run: |
          mkdir -p /tmp/digests/${{ matrix.version }}
          digest="${{ steps.push.outputs.digest }}"
          touch "/tmp/digests/${{ matrix.version }}/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: digests-${{ matrix.version }}-${{ matrix.platform }}
          path: /tmp/digests/${{ matrix.version }}/*
          if-no-files-found: error
          retention-days: 1

  merge:
    strategy:
      matrix:
        version: ["3.12", "3.13", "3.14"]
    runs-on: ubuntu-latest
    needs:
      - build
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Download digests
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          pattern: digests-${{ matrix.version }}-*
          merge-multiple: true
          path: /tmp/digests/${{ matrix.version }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Read Python patch version
        id: ver
        run: |
          pv=$(grep '^ENV PYTHON_VERSION ' ./python/Dockerfile_${{ matrix.version }} | awk '{print $3}')
          echo "python_patch=$pv" >> "$GITHUB_OUTPUT"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          tags: |
            type=raw,value=${{ matrix.version }}
            type=raw,value=${{ steps.ver.outputs.python_patch }}
          images: |
            ${{ env.REGISTRY_IMAGE_PREFIX }}python
          flavor: |
            latest=false

      - name: Login to Docker registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}

      - name: Create manifest list and push
        working-directory: /tmp/digests/${{ matrix.version }}
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY_IMAGE_PREFIX }}python@sha256:%s ' *)

      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE_PREFIX }}python:${{ steps.meta.outputs.version }}
